---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import FeaturedProducts from '../components/FeaturedProducts.astro';
import HowToOrder from '../components/HowToOrder.astro';
import MenuPreview from '../components/MenuPreview.astro';
import Occasions from '../components/Occasions.astro';
import BrandStory from '../components/BrandStory.astro';
import DeliveryInfo from '../components/DeliveryInfo.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
import WhatsAppCTA from '../components/WhatsAppCTA.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <FeaturedProducts />
    <HowToOrder />
    <MenuPreview />
    <Occasions />
    <BrandStory />
    <DeliveryInfo />
    <FAQ />
  </main>
  <Footer />
  <WhatsAppCTA />
</Layout>
